@media screen and (width >= 1280px) {
  h1 {
    font-size: 46px;
  }

  h2 {
    font-size: 36px;
    line-height: auto;
  }
}

@font-face {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  src: url("FontFont_FF.Mark.Pro.a9b9e15e.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-size: 26px;
  font-weight: 700;
  line-height: 130%;
}

@media screen and (width >= 1280px) {
  h1 {
    font-size: 46px;
  }
}

h2 {
  font-size: 21px;
  font-weight: 700;
  line-height: 130%;
}

@media screen and (width >= 1280px) {
  h2 {
    font-size: 36px;
    line-height: auto;
  }
}

a, li, p {
  color: #929292;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  scroll-behavior: smooth;
  background: linear-gradient(#191536, #000);
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  font-size: 16px;
  position: relative;
}

main {
  margin-top: 60px;
  position: relative;
}

@media screen and (width >= 768px) {
  main {
    margin-top: 250px;
  }
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: #9ee5f0;
}

a:visited {
  color: #484848;
}

button {
  color: #fff;
  cursor: pointer;
  background: none;
  border: none;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  display: flex;
}

button:hover {
  color: #9ee5f0;
}

li {
  list-style: none;
}

.container {
  width: 90dvw;
  margin: 0 auto;
  padding: 0;
}

@media screen and (width >= 768px) {
  .container {
    width: 700px;
  }
}

@media screen and (width >= 1280px) {
  .container {
    width: 1060px;
  }
}

@media screen and (width >= 1920px) {
  .container {
    width: 1440px;
  }
}

.arrowUp {
  opacity: 0;
  z-index: 10;
  border: 2px solid #05c2df;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  padding: 15px;
  transition: opacity .5s ease-in;
  display: flex;
  position: fixed;
  bottom: 30px;
  right: 10px;
}

@media screen and (width >= 768px) {
  .arrowUp {
    width: 50px;
    height: 50px;
    right: 30px;
  }
}

.arrowDisplayed {
  opacity: 1;
}

.headerScrolled {
  opacity: .98;
  background: linear-gradient(#191536, #000);
  transition: all .8s ease-in;
}

.header {
  z-index: 12;
  width: 100vw;
  padding: 30px 0;
  transition: all .8s ease-in;
  position: fixed;
  top: 0;
}

.header__select {
  padding: 5px;
  position: relative;
}

.header__list {
  display: none;
  position: absolute;
}

.header__lang {
  color: #05c2df;
  gap: 5px;
  display: flex;
}

.header__lang:hover {
  color: #fff;
}

.header__lang p {
  color: inherit;
}

.header__wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.header__logo {
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
}

.header__logo-img {
  width: 4vw;
}

@media screen and (width <= 768px) {
  .header__logo-img {
    width: 8.72vw;
  }
}

@media screen and (width <= 320px) {
  .header__logo-img {
    width: 18.12vw;
  }
}

.header__right {
  justify-content: center;
  align-items: center;
  gap: 35px;
  display: flex;
}

.header__nav {
  gap: 35px;
  display: none;
}

@media screen and (width >= 768px) {
  .header__nav {
    display: flex;
  }
}

.header__nav-link {
  font-weight: 500;
}

.header__button {
  background-color: #05c2df;
  padding: 13px 80px;
  font-weight: 700;
  transition: all .5s ease-in-out;
  display: none;
}

.header__button:hover {
  background-color: #fff;
}

@media screen and (width >= 768px) {
  .header__button {
    display: grid;
  }
}

.header__burger {
  width: 20px;
  height: 20px;
}

@media screen and (width >= 768px) {
  .header__burger {
    display: none;
  }
}

.displayOptions {
  display: block;
}

.grid {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  display: grid;
}

@media screen and (width >= 1280px) {
  .grid {
    grid-template-columns: repeat(12, 1fr);
  }
}

@media screen and (width >= 768px) and (width <= 1279px) {
  .grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

.hero__container {
  padding-bottom: 55px;
}

@media screen and (width >= 768px) {
  .hero__container {
    padding-bottom: 70px;
    position: relative;
  }
}

@media screen and (width >= 1280px) {
  .hero__container {
    padding: 84px 0;
  }
}

.hero__wrapper {
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  display: flex;
}

@media screen and (width >= 768px) {
  .hero__wrapper {
    grid-template-columns: repeat(6, 1fr);
    column-gap: 20px;
    display: grid;
  }
}

@media screen and (width >= 1280px) {
  .hero__wrapper {
    grid-template-columns: repeat(12, 1fr);
  }
}

.hero__title {
  z-index: 2;
  grid-column: 1 / 3;
}

@media screen and (width >= 768px) {
  .hero__title {
    grid-column: 1 / 4;
  }
}

@media screen and (width >= 1280px) {
  .hero__title {
    grid-column: 1 / 6;
  }
}

.hero__title-h1 {
  flex-direction: column;
  grid-column: 1 / 12;
  margin-bottom: 18px;
  display: flex;
}

@media screen and (width >= 1280px) {
  .hero__title-h1 {
    grid-column: 1 / 12;
    margin-bottom: 35px;
  }
}

@media screen and (width >= 320px) {
  .hero__title-h1 {
    grid-column: 1 / 6;
    margin-bottom: 18px;
  }
}

.hero__title-h1_blue {
  color: #05c2df;
}

.hero__title-description {
  grid-column: 1 / 2;
  margin-bottom: 8px;
}

@media screen and (width >= 1280px) {
  .hero__title-description {
    grid-column: 2 / 12;
    margin-bottom: 30px;
  }
}

@media screen and (width >= 768px) {
  .hero__title-description {
    grid-column: 1 / 6;
    margin-bottom: 5px;
  }
}

@media screen and (width >= 320px) {
  .hero__title-description {
    grid-column: 1 / 12;
    margin-bottom: 10px;
  }
}

.hero__title-price {
  color: #fff;
  grid-column: 1 / 2;
  margin-bottom: 25px;
  font-weight: 700;
}

@media screen and (width >= 1280px) {
  .hero__title-price {
    grid-column: 2 / 12;
    margin-bottom: 45px;
  }
}

@media screen and (width >= 768px) {
  .hero__title-price {
    grid-column: 1 / 6;
    margin-bottom: 29px;
  }
}

@media screen and (width >= 320px) {
  .hero__title-price {
    grid-column: 1 / 6;
    margin-bottom: 33px;
  }
}

.hero__title-button {
  aspect-ratio: 3.5;
  background-image: url("buttonPlay.d00cc092.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  grid-column: 1 / 2;
  align-items: center;
  height: 80px;
  padding: 15px 45px;
  transition: all .5s ease-in-out;
}

.hero__title-button:hover {
  transform: scale(1.1);
}

.hero__title-button_label {
  margin-left: 15px;
}

@media screen and (width >= 1280px) {
  .hero__title-button {
    grid-column: 2 / 12;
    margin-bottom: 45px;
  }
}

@media screen and (width >= 768px) {
  .hero__title-button {
    grid-column: 1 / 6;
    margin-bottom: 29px;
  }
}

@media screen and (width >= 320px) {
  .hero__title-button {
    grid-column: 1 / 2;
    margin-bottom: 33px;
  }
}

.hero__image {
  flex: 1 0 100%;
  width: 100%;
  height: 100%;
}

.hero__slider {
  z-index: -10;
  grid-column: 1 / 3;
  width: 90vw;
  margin: 0 auto;
  overflow: hidden;
}

@media screen and (width >= 768px) {
  .hero__slider-content {
    position: relative;
  }
}

.hero__slider-content_wrapper {
  transition: transform .8s ease-in-out;
  display: flex;
}

@media screen and (width >= 768px) {
  .hero__slider {
    max-width: 75%;
    position: absolute;
    bottom: 100px;
    right: 0;
  }
}

.hero__menu {
  display: none;
}

.hero__menu-info, .hero__menu-buttons {
  justify-content: center;
  align-items: center;
  gap: 15px;
  display: flex;
}

.hero__menu-more {
  color: #05c2df;
  position: relative;
}

.hero__menu-more:after {
  content: "";
  background-image: url("arrowDown.44e06257.png");
  background-repeat: no-repeat;
  width: 9px;
  height: 6px;
  position: absolute;
  bottom: -10px;
  left: 40%;
}

.hero__menu-more:hover {
  transform: scale(1.1);
}

.hero__menu-buttons {
  border-bottom: 1px solid #212121;
}

.hero__menu-button {
  width: 85px;
  padding: 13px 8px;
  transition: all .5s ease-in-out;
}

.hero__menu-button:hover {
  color: #05c2df;
}

@media screen and (width >= 768px) {
  .hero__menu {
    grid-column: 1 / 3;
    justify-content: space-between;
    align-items: center;
    max-width: 90vw;
    margin-top: 115px;
    display: flex;
  }
}

.buttonActive {
  border-bottom: 1px solid #05c2df;
}

.dotActive {
  border: 3px solid #fff;
}

.blue {
  color: #05c2df;
}

.info {
  background-color: #05040b;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  display: flex;
}

@media screen and (width >= 768px) {
  .info {
    padding: 70px 0;
  }
}

@media screen and (width >= 1280px) {
  .info {
    padding: 100px 0;
  }
}

.info__title {
  text-align: center;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
  display: flex;
}

@media screen and (width >= 1280px) {
  .info__title {
    margin-bottom: 70px;
  }
}

.info__title-h2_blue, .info__title-subtitle {
  color: #05c2df;
}

.info__cards {
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  gap: 20px;
  display: flex;
}

@media screen and (width >= 768px) {
  .info__cards {
    flex-flow: wrap;
  }
}

.info__cards-item {
  width: 100%;
}

@media screen and (width >= 768px) {
  .info__cards-item {
    text-align: center;
    width: 40%;
  }
}

@media screen and (width >= 1280px) {
  .info__cards-item {
    width: 20%;
  }
}

.info__cards-title {
  margin-bottom: 11px;
}

@media screen and (width >= 768px) {
  .info__cards-title {
    margin-bottom: 20px;
  }
}

@media screen and (width >= 1280px) {
  .info__cards-title {
    margin-bottom: 18px;
  }
}

.info__cards-img {
  display: none;
}

@media screen and (width >= 768px) {
  .info__cards-img {
    width: fit-content;
    height: 84px;
    margin-bottom: 22px;
    display: inline-block;
  }
}

@media screen and (width >= 1280px) {
  .info__cards-img {
    margin-bottom: 30px;
  }
}

.about {
  background: linear-gradient(#191536, #000);
  padding: 50px 0;
}

@media screen and (width >= 768px) {
  .about {
    padding: 70px 0;
  }
}

@media screen and (width >= 1280px) {
  .about {
    padding: 100px 0;
  }
}

.about__product-slider {
  grid-column: 1 / 3;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  overflow: hidden;
}

@media screen and (width >= 768px) {
  .about__product-slider {
    grid-column: 1 / 3;
    min-width: 340px;
    margin-bottom: 183px;
  }
}

@media screen and (width >= 1280px) {
  .about__product-slider {
    grid-column: 3 / 8;
    width: 100%;
  }
}

.about__product-slider-h2 {
  margin-bottom: 20px;
}

@media screen and (width >= 768px) {
  .about__product-slider-h2 {
    display: none;
  }
}

.about__product-slider_content {
  width: 100%;
  margin-bottom: 15px;
}

.about__product-slider_content-wrapper {
  width: 100%;
  transition: transform .8s ease-in-out;
  display: flex;
}

.about__product-slider_image {
  flex: 1 0 100%;
  width: 100%;
  height: 100%;
}

@media screen and (width >= 768px) {
  .about__product-slider_image {
    aspect-ratio: 1.25;
  }
}

@media screen and (width >= 1280px) {
  .about__product-slider_image {
    aspect-ratio: auto;
  }
}

.about__product-slider_buttons {
  border-bottom: 1px solid #212121;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: fit-content;
  display: none;
}

@media screen and (width >= 1280px) {
  .about__product-slider_buttons {
    display: flex;
  }
}

.about__product-slider_button {
  width: 85px;
  padding: 13px 8px;
  transition: all .5s ease-in-out;
}

.about__product-slider_button:hover {
  color: #05c2df;
}

.about__product-slider_dots {
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  display: flex;
}

@media screen and (width >= 1280px) {
  .about__product-slider_dots {
    display: none;
  }
}

.about__product-slider_dot {
  background: #484848;
  border-radius: 50%;
  width: 5px;
  height: 5px;
}

.about__product-title {
  grid-column: 1 / 3;
}

@media screen and (width >= 768px) {
  .about__product-title {
    grid-column: 3 / 7;
  }
}

@media screen and (width >= 1280px) {
  .about__product-title {
    grid-column: 8 / 12;
  }
}

.about__product-title_h2 {
  display: none;
}

@media screen and (width >= 768px) {
  .about__product-title_h2 {
    margin-bottom: 40px;
    display: block;
  }
}

.about__product-title_h2-blue {
  color: #05c2df;
}

.about__product-title_description {
  margin-bottom: 40px;
}

.about__meet-title {
  grid-column: 1 / 3;
}

@media screen and (width >= 768px) {
  .about__meet-title {
    grid-column: 1 / 5;
  }
}

@media screen and (width >= 1280px) {
  .about__meet-title {
    grid-column: 2 / 6;
  }
}

.about__meet-title_button {
  display: none;
}

@media screen and (width >= 768px) {
  .about__meet-title_button {
    display: block;
  }
}

.about__meet-title_small {
  color: #05c2df;
  margin-bottom: 15px;
}

.about__meet-title_h3 {
  margin-bottom: 40px;
}

.about__meet-title_h3-blue {
  color: #05c2df;
}

.about__meet-title_description {
  margin-bottom: 40px;
}

.about__meet-img {
  display: none;
}

@media screen and (width >= 768px) {
  .about__meet-img {
    background-image: url("adout.46d967e1.png");
    background-position: 0;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 5 / 7;
    display: flex;
  }
}

@media screen and (width >= 1280px) {
  .about__meet-img {
    background-position: center;
    grid-column: 6 / 12;
  }
}

.why {
  background: linear-gradient(#191536, #000);
  padding: 50px 0;
}

@media screen and (width >= 768px) {
  .why {
    padding: 70px 0;
  }
}

@media screen and (width >= 1280px) {
  .why {
    padding: 100px 0;
  }
}

.tech {
  background: linear-gradient(#191536, #000);
  padding: 50px 0;
}

@media screen and (width >= 768px) {
  .tech {
    padding: 70px 0;
  }
}

@media screen and (width >= 1280px) {
  .tech {
    padding: 100px 0;
  }
}

.tech__container-h2 {
  grid-column: 1 / 3;
}

@media screen and (width >= 1280px) {
  .tech__container-h2 {
    grid-column: 9 / 12;
  }
}

.tech__wrapper {
  grid-column: 1 / 3;
}

@media screen and (width >= 768px) {
  .tech__wrapper {
    grid-column: 1 / 6;
  }
}

@media screen and (width >= 1280px) {
  .tech__wrapper {
    grid-column: 1 / 12;
  }
}

.tech__wrapper-left {
  display: none;
}

@media screen and (width >= 1280px) {
  .tech__wrapper-left {
    z-index: 2;
    flex-direction: column;
    grid-column: 2 / 5;
    display: flex;
  }
}

.tech__wrapper-img {
  z-index: 0;
  margin: 0 auto;
  position: relative;
}

@media screen and (width >= 1280px) {
  .tech__wrapper-img {
    grid-column: 5 / 9;
    margin: 120px 0 0;
  }
}

.tech__wrapper-button1 {
  top: 0;
  left: 25%;
}

.tech__wrapper-button2 {
  bottom: 35%;
  right: 25%;
}

.tech__wrapper-button3 {
  bottom: 0;
  left: 0;
}

.tech__wrapper-button1, .tech__wrapper-button2, .tech__wrapper-button3 {
  z-index: 5;
  background: #05c2df;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  font-weight: 700;
  transition: all .5s ease-in-out;
  position: absolute;
}

@media screen and (width >= 1280px) {
  .tech__wrapper-button1, .tech__wrapper-button2, .tech__wrapper-button3 {
    display: none;
  }
}

.tech__wrapper-info1, .tech__wrapper-info2, .tech__wrapper-info3 {
  opacity: 0;
  background: #484848;
  border-radius: 8px;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  transition: opacity .8ms ease-in;
  display: flex;
  position: absolute;
}

.tech__wrapper-info1 {
  top: 30%;
  left: 10px;
}

.tech__wrapper-info2 {
  bottom: 20%;
  right: 45%;
}

.tech__wrapper-info3 {
  bottom: 20%;
  left: 40px;
}

.tech__sensor {
  margin-top: 55px;
  margin-left: 25px;
  position: relative;
}

.tech__sensor-title {
  margin-bottom: 20px;
}

.tech__sensor-subtitle {
  max-width: 200px;
}

.tech__sensor-img {
  display: none;
}

@media screen and (width >= 1280px) {
  .tech__sensor-img {
    background-image: url("arrow1.e6053a52.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 125%;
    height: 72px;
    padding: 100px 0;
    display: block;
    position: absolute;
    top: 11px;
    left: 101px;
  }
}

.tech__connection {
  margin-top: 150px;
  margin-left: 100px;
  position: relative;
}

.tech__connection-title {
  align-items: baseline;
  gap: 10px;
  margin-bottom: 20px;
  display: flex;
}

.tech__connection-img {
  display: none;
}

@media screen and (width >= 1280px) {
  .tech__connection-img {
    background-image: url("arrow2.ae6d1117.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 134px;
    height: 113px;
    display: block;
    position: absolute;
    bottom: 100px;
    left: 140px;
  }
}

.tech__batteries {
  display: none;
}

@media screen and (width >= 1280px) {
  .tech__batteries {
    z-index: 2;
    grid-column: 9 / 12;
    margin-top: 55px;
    display: block;
    position: relative;
  }
}

.tech__batteries-title {
  margin-bottom: 20px;
}

.tech__batteries-img {
  display: none;
}

@media screen and (width >= 1280px) {
  .tech__batteries-img {
    background-image: url("arrow3.4c64ca40.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 192px;
    height: 245px;
    margin-right: 21px;
    display: block;
    position: absolute;
    top: 11px;
    right: 100%;
  }
}

.displayedInfo {
  opacity: 1;
  z-index: 6;
}

.contactUs {
  background: #05040b;
  padding: 50px 0;
}

@media screen and (width >= 768px) {
  .contactUs {
    padding: 70px 0;
  }
}

@media screen and (width >= 1280px) {
  .contactUs {
    padding: 100px 0;
  }
}

.contactUs__info {
  grid-column: 1 / 3;
}

@media screen and (width >= 768px) {
  .contactUs__info {
    grid-column: 1 / 3;
  }
}

@media screen and (width >= 1280px) {
  .contactUs__info {
    grid-column: 1 / 6;
  }
}

.contactUs__info-subtitle {
  color: #05c2df;
}

.contactUs__info-title {
  margin-bottom: 32px;
}

@media screen and (width >= 768px) {
  .contactUs__info-title {
    margin-bottom: 50px;
  }
}

@media screen and (width >= 1280px) {
  .contactUs__info-title {
    margin-bottom: 26px;
  }
}

.contactUs__info-description {
  display: none;
}

@media screen and (width >= 768px) {
  .contactUs__info-description {
    margin-bottom: 76px;
    display: block;
  }
}

.contactUs__info-contacts {
  display: none;
}

@media screen and (width >= 768px) {
  .contactUs__info-contacts {
    flex-direction: column;
    display: flex;
  }
}

.contactUs__formWrapper {
  grid-column: 1 / 3;
}

@media screen and (width >= 768px) {
  .contactUs__formWrapper {
    grid-column: 3 / 7;
  }
}

@media screen and (width >= 1280px) {
  .contactUs__formWrapper {
    grid-column: 6 / 12;
  }
}

.contactUs__form {
  flex-direction: column;
  gap: 15px;
  margin-bottom: 45px;
  display: flex;
}

.contactUs__form-input {
  color: #fff;
  cursor: pointer;
  background: none;
  border: none;
  border-bottom: 1px solid #212121;
  min-width: 100%;
  padding: 30px;
}

.contactUs__form-input:focus {
  border-bottom: 1px solid #fff;
  outline: none;
}

.contactUs__form-description {
  margin-top: 30px;
}

@media screen and (width >= 768px) {
  .contactUs__form-description {
    display: none;
  }
}

.contactUs__button {
  background-color: #05c2df;
  width: 100%;
  margin: 0 auto;
  padding: 15px 55px;
  font-weight: 700;
  transition: all .5s ease-in-out;
}

.contactUs__button:hover {
  background-color: #fff;
}

@media screen and (width >= 768px) {
  .contactUs__button {
    width: fit-content;
    margin: 0;
  }
}

.footer {
  grid-template-columns: repeat(2, 1fr);
  padding: 40px 0;
  display: grid;
}

@media screen and (width >= 768px) {
  .footer {
    justify-content: space-between;
    align-items: center;
    display: flex;
  }
}

.footer__logo {
  grid-column: 1 / 3;
}

.footer__nav {
  flex-direction: column;
  grid-column: 1 / 2;
  gap: 15px;
  margin-top: 20px;
  display: flex;
}

@media screen and (width >= 768px) {
  .footer__nav {
    flex-direction: row;
    gap: 40px;
    margin: 0;
  }
}

.footer__contacts {
  flex-direction: column;
  grid-column: 2 / 3;
  gap: 20px;
  display: flex;
}

.footer__contacts-list {
  flex-direction: column;
  gap: 20px;
  display: flex;
}

@media screen and (width >= 768px) {
  .footer__contacts-list {
    display: none;
  }
}

.footer__social {
  gap: 20px;
  display: flex;
}

.menu {
  z-index: 13;
  background: #191536;
  flex-direction: column;
  width: 100%;
  min-width: 100vw;
  height: 100vh;
  padding: 20px 0;
  transition: transform .5s ease-in;
  display: flex;
  position: fixed;
  top: 0;
  overflow: hidden;
  transform: translateX(-100%);
}

.menu__close {
  align-self: end;
  margin-top: 15px;
  padding-right: 40px;
}

.menu__close-img {
  width: 20px;
  height: 20px;
}

.menu__nav {
  width: 100%;
}

.menu__nav-link {
  color: #fff;
  justify-content: flex-start;
  align-items: start;
  width: 100%;
  padding: 15px;
  display: flex;
}

.menu__nav-linka {
  font-size: 21px;
  font-weight: 500;
  line-height: 27px;
}

.menu__nav-link:hover {
  color: #05c2df;
  background: #05040b;
}

.displayMenu {
  transform: translateX(0);
}

.error {
  border-bottom: 1px solid #911818;
}

.error::placeholder, .errorMessage {
  color: #911818;
}

.removeScroll {
  overflow: hidden;
}

.wrapperButtonActive {
  color: #191536;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #05c2df;
  border-bottom: 1px solid #484848;
  transition: background-color 5000s ease-in-out;
  -webkit-box-shadow: inset 0 0 0 1000px #0000;
}

input:-webkit-autofill:hover {
  -webkit-text-fill-color: #05c2df;
  border-bottom: 1px solid #484848;
  transition: background-color 5000s ease-in-out;
  -webkit-box-shadow: inset 0 0 0 1000px #0000;
}

input:-webkit-autofill:focus {
  -webkit-text-fill-color: #05c2df;
  border-bottom: 1px solid #484848;
  transition: background-color 5000s ease-in-out;
  -webkit-box-shadow: inset 0 0 0 1000px #0000;
}

textarea:-webkit-autofill {
  -webkit-text-fill-color: #05c2df;
  border-bottom: 1px solid #484848;
  transition: background-color 5000s ease-in-out;
  -webkit-box-shadow: inset 0 0 0 1000px #0000;
}

textarea:-webkit-autofill:hover {
  -webkit-text-fill-color: #05c2df;
  border-bottom: 1px solid #484848;
  transition: background-color 5000s ease-in-out;
  -webkit-box-shadow: inset 0 0 0 1000px #0000;
}
/*# sourceMappingURL=index.971c2ea4.css.map */
