%h1 {
  font-weight: 700;
  line-height: 130%;
  font-size: 26px;

  @media screen and (min-width: 1280px) {
    font-size: 46px;
  }
}

%h2 {
  font-weight: 700;
  font-size: 21px;
  line-height: 130%;

  @media screen and (min-width: 1280px) {
    font-size: 36px;
    line-height: auto;
  }
}

%p {
  font-weight: 400;
  font-size: 12px;

  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}
